.DS_Store
.gradle/
workshop-content/.DS_Store
workshop-content/.gradle
workshop-content/courses/.DS_Store
workshop-content/courses/.project
workshop-content/courses/cnd-java/.DS_Store
workshop-content/courses/.project
starter-app/module-1/target
starter-app/module-1/.classpath
starter-app/module-1/.project
starter-app/module-1/.settings/
starter-app/module-1/.vscode/
